<div class="dialog">
    <form [formGroup]="formProduct">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select>
                @for (category of categories; track category.id) {
                    <mat-option [value]="category.id">{{ category.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea rows="3" matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput formControlName="price">
        </mat-form-field>
    </form>
</div>